asgiref==3.10.0
boto3==1.40.64
botocore==1.40.64
certifi==2025.11.12
charset-normalizer==3.4.4
Django==5.0.14
django-cors-headers==4.9.0
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
greenlet==3.2.4
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
isort==6.1.0
jmespath==1.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
parso==0.8.5
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
psycopg-binary==3.2.9
pure_eval==0.2.3
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
redis==7.1.0
reportlab==4.4.5
requests==2.32.5
s3transfer==0.14.0
sentry-sdk==2.46.0
six==1.17.0
sqlparse==0.5.3
tomlkit==0.13.3
traitlets==5.14.3
tzdata==2025.2
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.5.0
vine==5.1.0
watchdog==6.0.0
wcwidth==0.2.14
whitenoise==6.11.0
zope.event==6.1
zope.interface==8.1.1
